django==3.2
django-debug-toolbar==3.2.1
django-phonenumber-field==5.2.0
phonenumbers==8.12.35
Pillow==8.2.0
environs[django]==9.3.2
djangorestframework==3.12.4
Markdown==3.3.4
django-filter==21.1
requests==2.26.0
geopy==2.2.0
